@use '../../../../variables' as *;

:host {
  display: block;
  
  &:first-child .product-item {
    border-top: 1px solid $border;
  }
}

.product-item {
  width: 100%;
  height: 100%;
  padding: 0 1.75rem 0 1.25rem;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: max-content max-content;
  border: none;
  border-bottom: 1px solid $border;
  font-size: 1rem;
  --bg-opacity: 0;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  transition: background-color 0.15s ease-in-out;
  
  @media only screen and (min-width: 600px) {
    padding: 0 0.625rem;
  }

  .left-container,
  .right-container {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  .left-container {
    display: flex;
    align-items: center;
    gap: 2ch;
    transition: opacity 0.2s ease-in-out;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 100%;
      height: 1px;
      background-color: black;
      transition:
        left 0.2s ease-in-out,
        right 0.2s ease-in-out;
    }

    .product-name {
      font-weight: 600;
      font-size: 1.2rem;
    }
    .product-amount {
      color: $text2;
      font-size: 0.9375rem;
    }
  }
  &:hover {
    --bg-opacity: 0.03;
  }
  &:active {
    --bg-opacity: 0.06;
  }
  app-product-checkbox {
    font-size: 1rem;
  }
  &.checked {
    .left-container {
      opacity: 0.45;

      &::after {
        left: -0.25rem;
        right: -0.25rem;
      }
      .product-name {
        opacity: 0.8;
      }
    }
    .right-container {
      opacity: 0.6;
    }
  }
}
