<h1>Welcome back!</h1>
<section>
  <h2>Recent lists</h2>
  <div class="lists-container">
    @for (item of testData; track $index) {
    <app-explorer-item [name]="item.name" [type]="item.type" />
    }
  </div>
</section>
<section>
  <h2>Your favorites</h2>
  <div class="lists-container">
    @for (item of testData2; track $index) {
    <app-explorer-item [name]="item.name" [type]="item.type" />
    }
  </div>
</section>
<section>
  <h2>Shared with me</h2>
  <div class="lists-container">
    @for (item of testData3; track $index) {
    <app-explorer-item [name]="item.name" [type]="item.type" />
    }
  </div>
</section>
<section>
  
  <h2>Quick create & share</h2>
  <div class="quick-create-container">
    <app-quick-create-button type="list" />
    <app-quick-create-button type="folder" />
  </div>
</section>
