@use '../../../variables' as *;

button {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  background: none;
  border: none;
  border-top: 1px solid $border;
  outline: none;
  text-align: start;
  min-height: 2.75rem;
  color: $text4;

  .top-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 0.875rem;
    width: 100%;
  }

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
  &:focus-visible {
    outline-color: $main500;
    background-color: $main100;
  }
  .icon-container {
    color: $main500;
    height: max-content;
    height: 1.5rem;

    > ard-icon {
      font-size: 1.5rem;

      &.is-folder {
        color: $on-surface;
      }
    }
  }
  .text-container {
    font-size: 0.8125rem;
    font-weight: 500;
    color: $text;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
