@use '@angular/material' as mat;
@use '../node_modules/@ardium-ui/ui/themes/default/core.scss';
@use '../node_modules/@ardium-ui/ui/themes/default/card.scss';
@use '../node_modules/@ardium-ui/ui/themes/default/spinner.scss';
@use '../node_modules/@ardium-ui/ui/themes/default/buttons/button.scss';
@use '../node_modules/@ardium-ui/ui/themes/default/buttons/icon-button.scss';
@use '../node_modules/@ardium-ui/ui/themes/default/buttons/fab.scss';
@use '../node_modules/@ardium-ui/ui/themes/default/form-field-frame.scss';
@use '../node_modules/@ardium-ui/ui/themes/default/inputs/simple-input.scss';
@use '../node_modules/@ardium-ui/ui/themes/default/inputs/password-input.scss';
@use '../node_modules/@ardium-ui/ui/themes/default/segment.scss';
@use '../node_modules/@ardium-ui/ui/themes/default/checkbox.scss';

@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.01em;
}

:root {
  --ard-border: rgba(0, 0, 0, 20%);

  --ard-primary-50: 248, 235, 232;
  --ard-primary-100: 255, 212, 206;
  --ard-primary-300: 255, 114, 94;
  --ard-primary-500: 248, 93, 73;
  --ard-primary-700: 219, 62, 41;
  --ard-primary-900: 133, 28, 14;

  --base-background: hsl(6.92deg 55.56% 98.24%);
  --on-surface: #444746;
  --text-4: rgba(0, 0, 0, 65%);
  --text-col: hsl(6.92deg 5.51% 24.9%);
}

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

label {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-top: 16px;
  display: block;
}
a,
button {
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.hidden {
  display: none !important;
}
.icon-outlined {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
