@use '../../../variables.scss' as *;

.lists-container {
  display: grid;
  padding-top: 0.5rem;
  grid-template-columns: 1fr;
  border-bottom: 1px solid $border;
}

.empty-text {
  padding: 1rem;
  text-align: center;
  color: $text3;
}
