<div class="lists-container">
  @if (isFolder()) {
    @for (item of folders(); track item.id) {
      <app-explorer-item [name]="item.name" [type]="type()" />
    } @empty {
      <div class="empty-text">
        <p>No folders found</p>
      </div>
    }
  } @else {
    @for (item of lists(); track item.id) {
      <app-explorer-item [name]="item.name" [type]="type()" (click)="onListClick(item)" (delete)="onListDelete(item)">
        @if (item.shop) {
          {{ item.shop }}
        }
        @if (item.shop && item.date) {
          <span class="separator">•</span>
        }
        @if (item.date) {
          {{ item.date | smartDate }}
        }
      </app-explorer-item>
    } @empty {
      <div class="empty-text">
        <p>No lists found</p>
      </div>
    }
  }
</div>
