<div class="lists-container">
  @if (isFolder()) {
    @for (item of folders(); track item.id) {
      <app-explorer-item [name]="item.name" [type]="type()" />
    } @empty {
      <div class="empty-text">
        <p i18n="@@home.explorer.no-folders">No folders found</p>
      </div>
    }
  } @else {
    @for (item of lists(); track item.id) {
      <app-explorer-item [name]="item.name" [type]="type()" (click)="onListClick(item)" (delete)="onListDelete(item)">
        <app-bullet-separated-list [values]="[item.shop, item.date | smartDate]" />
      </app-explorer-item>
    } @empty {
      <div class="empty-text">
        <p i18n="@@home.explorer.no-lists">No lists found</p>
      </div>
    }
  }
  <!-- to prevent component stylesheet from unloading when switching between types -->
  <app-explorer-item name="" type="list-alt" style="display: none" />
</div>
