<!-- TODO breadcrumbs will be here -->
<div class="name-container">
  <div class="btn-container">
    <app-back-button (click)="navigateToExplorer()" />
  </div>
  <div class="name-wrapper">
    <div class="name">
      <h1 [class.font-small]="list() && list()!.name.length > 24">{{ list()?.name }}</h1>
    </div>

    @if (list()?.shop || list()?.date) {
    <p class="additional-info-line">
      <app-bullet-separated-list [values]="[list()?.shop, list()?.date | smartDate]" />
    </p>
    }
  </div>
  <div class="btn-container">
    <ard-icon-button color="none" class="more-actions-btn">
      <ard-icon>more_vert</ard-icon>
    </ard-icon-button>
  </div>
</div>
