<!-- <main>
  <label for="email">E-mail</label>
  <input [(ngModel)]="email" id="email" type="email">
  <label for="username">Username</label>
  <input [(ngModel)]="username" id="username" type="text">
  <label for="password">Password</label>
  <input [(ngModel)]="password" id="password" type="text">
  <button (click)="sendRegister1()">Register 1</button>
  <button (click)="sendRegister2()">Register 2</button>
  <button (click)="sendLogin()">Login</button>
  <button (click)="sendLogout()">Logout</button>
</main> -->
<router-outlet />