@import '../../../variables';

:host {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  width: 100%;
  gap: 1rem;
  background-color: $bg-d;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
}
.icon-container {
  color: $main500;
  height: max-content;
  
  > ard-icon {
    font-size: 1.5rem;
  }
}
.text-container {
  font-size: 0.8125rem;
  font-weight: 500;
}