@use '../../../../variables.scss' as *;

:host {
  border-bottom: 1px solid $border;

  &:first-child {
    border-top: 1px solid $border;
  }
  button {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    background: none;
    border: none;
    outline: none;
    text-align: start;
    height: 3.5rem;
    max-height: 3.5rem;
    color: $text4;

    .info-container {
      display: grid;
      align-items: center;
      grid-template-columns: max-content 1fr;
      gap: 1rem;
    }
    .name-container {
      width: 100%;
      display: grid;
      gap: 0.25rem 0.875rem;
      grid-template-columns: 1fr;
      
      @media only screen and (min-width: 600px) {
        grid-template-columns: 1fr minmax(max-content, 30ch);
      }

      .name {
        font-size: 1rem;
        font-weight: 500;
        color: $text;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 40ch;
      }
      .additional-info {
        font-size: 0.875rem;
        color: $text3;
        width: max-content;
        max-width: 30ch;
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:focus-visible {
      outline-color: $main500;
      background-color: $main100;
    }
    .icon-container {
      color: $main500;
      height: 1.625rem;

      > ard-icon {
        font-size: 1.625rem;

        &.is-folder {
          color: $on-surface;
        }
      }
    }

    ard-icon-button {
      display: none;

      ard-icon {
        font-size: 1.375rem;
      }
    }
    &:hover {
      ard-icon-button {
        display: block;
      }
    }
  }
}
