<h1 i18n="@@home.welcome">Welcome to CoShop</h1>
<section>
  <div class="suggested">
    <h2 i18n="@@home.filter.suggested">Suggested</h2>
    <ard-segment [items]="suggestedOptions" uniformWidths [(value)]="suggestedType">
      <ng-template ard-segm-option-tmp let-item let-itemData="itemData">
        <div class="suggested-option">
          <ard-icon [icon]="item.selected() ? 'check' : itemData.icon" />
          {{ itemData.label }}
        </div>
      </ng-template>
    </ard-segment>
  </div>
  <app-explorer-list
    [type]="suggestedType()[0]"
    [lists]="explorerDataService.lists()"
    [folders]="explorerDataService.folders()"
    (listClick)="onListClick($event)"
    (listDelete)="onListDelete($event)"
  />
</section>
